---
import Layout from "../layouts/Layout.astro";
import SectionHero from "../components/SectionHero.astro";
import CarouselFrontIcons from "../components/CarouselFrontIcons.astro";
import CarouselBackIcons from "../components/CarouselBackIcons.astro";
import SectionExperience from "../components/SectionExperience.astro";
import SectionEducation from "../components/SectionEducation.astro";
import TitleSection from "../components/TitleSection.astro";
---

<Layout title="Welcome to Astro.">
	<main
		class="p-8 space-y-20 mt-20 max-w-sm sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl mx-auto"
	>
		<SectionHero />
		<section class="">
			<CarouselFrontIcons />
			<CarouselBackIcons />
		</section>
		<section class="space-y-6">
			<TitleSection>Experiencia</TitleSection>
			<SectionExperience />
		</section>
		<section class="space-y-6">
			<TitleSection>Proyectos</TitleSection>
		</section>
		<section class="space-y-6">
			<TitleSection>Formación</TitleSection>
			<SectionEducation />
		</section>
		<section class="space-y-6">
			<TitleSection>Contacto</TitleSection>
			<p class="text-gray-600 dark:text-gray-300">
				¿Quieres contactarme? Puedes hacerlo a través de mis redes sociales o
				enviarme un correo electrónico.
			</p>
		</section>
	</main></Layout
>
