---
import CarouselFrontIcons from "../components/CarouselFrontIcons.astro";
import CarouselBackIcons from "../components/CarouselBackIcons.astro";
import SectionHero from "../components/SectionHero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="p-8 mt-20">
		<SectionHero />
		<section class="mt-8">
			<CarouselFrontIcons />
		</section>
		<section>
			<CarouselBackIcons />
		</section>
	</main>
</Layout>
