

<header class="backdrop-blur-xl py-3 fixed w-full">
    <nav class="flex w-10/12 justify-between mx-auto">
        <img src="/favicon.svg" alt="Icon" class="w-5"/>
        <ul class="flex gap-4 text-white">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>